@media screen and (max-width: 576px) {
    .banner-container{
        flex-direction: column;
        /* margin: 20px; */
        gap: 40px;
    }
    .banner-title{
        font-size: 36px;
    }
    .banner-description{
        font-size: 16px;
    }
    .banner-content{
        height: auto;
    }
    .banner-shap{
        font-size: 36px;
    }
    .head{
        height: auto;
    }
    nav ul{
        display: none;
    }
    .none{
        display: none;
    }
    .menu-bar{
        display: block;
    }
    nav{
        justify-content: space-between;
        padding: 50px 20px 20px 20px;
    }
    head{
        width: 100%;
    }
    .btn{
        display: flex;
        gap: 20px;
    }
    .primary-btn{
        font-size: 17px;
        padding: 16px 23px;
    }
    .text-overlay{
        position: absolute;
        top: 13%;
        left: 79%;
        /* transform: translate(-50% , -50%); */
    }
    .text-overlay-type-two{
        position: absolute;
        top: 49%;
        left: 21%;
        /* transform: translate(-50% , -50%); */
    }
    .primary-btn-two{
        padding: 16px 23px;
    }
}